# Node
node_modules/
npm-debug.log*
yarn-error.log*
.pnpm-debug.log*

# PYTHON

__pycache__
*.egg-info
.venv

# Build output
dist/
build/

# Env / OS
.env
.DS_Store

tmp*

# Logs
logs/

state/
data/

.claude/worktrees
.claude/settings.local.json

# diy ref
.diy/ref/

# IDEs
.idea/*
!.idea/dictionaries/
!.idea/diy.iml
!.idea/typescript-compiler.xml

src/diy-core/devtools/client

.worktree/
