# PYTHON

__pycache__
*.egg-info
.venv

# Build output
dist/
build/

# Env / OS
.env
.DS_Store

tmp*

# Logs
logs/

state/
data/

# diy ref
.diy/ref/

# IDEs
.idea/*
!.idea/dictionaries/
!.idea/diy.iml
!.idea/typescript-compiler.xml

.worktree/
.playwright-cli/
